<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div>
        <a href="/contact/contactus">Contact Us</a>
    </div>

    <form id="loginForm" action="/msg/" onsubmit="handleSubmit(event)" method="POST">
        <input type="text" name="username" id="username" placeholder="Enter User Name" />
        <button type="submit">Login</button>
    </form>

    <script>
        function handleSubmit(event) {
            event.preventDefault()
            let username = document.getElementById('username').value
            localStorage.setItem("username", username)
            event.target.submit()
        }
    </script>
</body>



</html>