body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    margin-right: 2rem;
}

div{
    height: 3rem;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: right;
}

form{
    margin-top: 2rem;
    margin-left:1rem;
}

input{
    width: 15rem;
}

button{
    background-color: red;
    color: black;
    width: 5rem;
}